@charset "utf-8";
/* main */
.sub-title {
  width: 100%;
  height: 150px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/image/sub_background.png") no-repeat center center;
  background-size: cover;
}
.sub-title p {
  line-height: 150px;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.sub-main {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 38px 0 112px 0;
  width: 1000px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.sub-main-pager_pc {
  padding-left: 90px;
  margin-bottom: 51px;
}
.sub-main-pager_pc small {
  font-size: 14px;
  font-weight: 500;
  line-height: 20.27px;
  width: 100%;
  overflow: hidden;
  display: block;
}
.sub-main-pager_pc b {
  marin-top: 2px;
  font-size: 26px;
  font-weight: 500;
  line-height: 37.65px;
  text-align: center;
}
.sub-main-con {
  overflow: hidden;
  display: flex;
  padding: 0 0px 0 86px;
  justify-content: space-between;
  align-items: center;
}

.sub-main-con .con-left {
}
.left-title {
}
.left-title_m {
  display: none;
}
.left-title p {
  font-family: Noto Serif KR;
  font-size: 26px;
  font-weight: 500;
  line-height: 37.36px;
  text-align: center;
  color: #73221e;
}
.left-title .left-title-img {
  margin-top: 44px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.left-title .left-title-img > img {
  width: 153px;
  height: auto;
  float: left;
}
.left-title-img_name {
  margin-left: 26px;

  float: right;
}

.left-title-img_name b {
  overflow: hidden;
  display: block;
  width: 100%;
}
.left-title-img_name img {
  width: 120px;
}

.sub-main-con .con-right {
}
.sub-main-con .con-right p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22.4px;
  max-width: 369px;
  color: rgba(0, 0, 0, 0.8);
}

.sub-main-pager_m {
  display: none;
}
/***************** breakpoint *****************/
@media (max-width: 768px) {
  .sub-main {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 116px;
    padding: 0px;
    width: 100%;
    border-top: 0px;
    border-bottom: 0px;
  }
  .sub-main-pager_pc {
    display: none;
  }
  .sub-main-pager_pc small {
    font-size: 14px;
    font-weight: 500;
    line-height: 20.27px;
    width: 100%;
    overflow: hidden;
    display: block;
  }
  .sub-main-pager_pc b {
    marin-top: 2px;
    font-size: 26px;
    font-weight: 500;
    line-height: 37.65px;
    text-align: center;
  }
  .sub-main-con {
    display: block;
    padding: 0px;
    margin: 20px;
  }

  .sub-main-con .con-left {
  }
  .left-title {
  }

  .left-title_m {
    display: block;
    font-size: 26px;
    font-weight: 500;
    line-height: 37.65px;
    margin-bottom: 31px;
  }
  .left-title p {
    font-family: Noto Serif KR;
    font-size: 26px;
    font-weight: 500;
    line-height: 37.36px;
    text-align: center;
    color: #73221e;
  }
  .left-title .left-title-img {
    margin-top: 44px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .left-title .left-title-img > img {
    width: 153px;
    height: auto;
    float: left;
    margin: 0;
  }
  .left-title-img_name {
    margin: 0 0 0 24px;
    float: right;
  }

  .sub-main-con .con-right {
    margin-top: 44px;
  }

  .sub-main-pager_m {
    display: block;
  }
  .pager_m-title {
    width: 100%;
    background: #efe7db;
    padding: 9px 13px 9px 20px;
    overflow: hidden;
  }
  .pager_m-title p {
    float: left;
  }
  .pager_m-title .pager_m-img {
    float: right;
    line-height: 60px;
    background: url("/assets/image/right_arrow.svg") no-repeat center center;
    width: 20px;
    height: 20px;
  }
  .pager_m-title .pager_m-img.toggle {
    background: url("/assets/image/down_arrow.svg") no-repeat center center;
  }
  .pager_m-con {
    background: #f1f1f1f2;
    opacity: 95%;
    padding: 13px 0px 16px 20px;
    display: none;
  }
  .pager_m-con-txt {
    font-size: 18px;
    font-weight: 500;
    line-height: 26.06px;
  }
  .pager_m-con-txt a {
  }
}
